/*<![CDATA[*/

body {
    font-family: sans-serif;
    background: #ddd;
    /*margin: 0;*/
}
#primary {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    padding: 20px;
}
#loginput {
    width: 50%;
    height: 300px;
    border: 1px solid #888;
}
#stats {
    margin-top: 16px;
}
.info {
    width: 50%;
    margin: auto;
    align-content: center;
    justify-content: center;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
img {
    width: 50px;
    height: 25px;
}

/*]]>*/
