/*<![CDATA[*/

body {
    font-family: sans-serif;
    background: #ddd;
    /*margin: 0;*/
}
#loginput {
    width: 50%;
    height: 300px;
    border: 1px solid #888;
}
#stats {
    margin-top: 16px;
}
.arrow {
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
    width: 50px;
    height: 25px;
{
.info {
    width: 50%;
    margin: auto;
    align-content: center;
    justify-content: center;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}

/*]]>*/
