#div1{
    height:300px;
    width:300px;
    background-color:red;
    margin:0;
}
#div2{
    height:300px;
    width:300px;
    background-color:green;
    position:relative;
    left:320px;
    bottom:300px;
}
#div3{
    height:300px;
    width:300px;
    background-color:yellow;
    position:relative;
    bottom:280px;
}
#div4{
    height:300px;
    width:300px;
    background-color:blue;
    position:relative;
    left:320px;
    bottom:580px;
}
